body {
    background-color: #F8F8F8;
    color: #333333;
}
.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: .5rem;
    color: #C75B12;
}
.section-subtitle{
    text-align:center;
    margin-bottom:3rem;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: none;
}
.btn-primary {
    background-color: #D4A017;
    color: #1E1E1E;
}
.btn-primary:hover {
    background-color: purple;
}
.btn-secondary {
    background: transparent;
    background: silver;
    color: #1E1E1E;
}
.btn-secondary:active {
    background-color: grey;
}
.card {
    background-color: #D4A017;
    color: #0A2342;
    border-radius: 12px;
    font-size: 1.3rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    transition: .3s ease;
}
.card:hover{
    transform:translateY(-5px);
}
.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.image-box {
    overflow: hidden;
    border-radius: 12px;
}
.image-box img {
    width: 100%;
    display: block;
}
.menu-card{
    border-radius:15px;
    overflow:hidden;
}
.menu-card img{
    width:100%;
}
.menu-card-content{
    padding:1.5rem;
}
.social-link{
    width:45px;
    height:45px;
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}