


<footer class="footer">

    <div class="container footer-cont">

        <div class="footer-brand">

            <h2>Prince Legends</h2>

            <p>
                Serving delicios meals made with passion and quality ingredients.
            </p>

        </div>

        <div class="quick-links">

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>

        </div>

        <div class="contact">

            <p>
                <i class="fa-solid fa-phone"></i>
                +260 775 544 529
            </p>

             <p>
                <i class="fa-solid fa-envelope"></i>
                infor@princelegends.com
            </p>

             <p>
                <i class="fa-solid fa-location-dot"></i>
                Lusaka, Zambia
            </p>

        </div>

        <div class="footer-hrs">

            <p>Mon-Fri: 08:00 - 22:00</p>
            <p>Saturday: 09:00 - 17:00</p>
            <p>Sunday: Closed</p>

        </div>

    </div>

    <div class="footer-bottom">

            <div class="social-links">

                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

            <p>
                 © 2026 Prince Legends. All rights reserved.
            </p>
            
        </div>


</footer>