
<nav class="nav-bar">

    <div class="container nav-cont">

        <button class="btn menu-btn" aria-label="open">

            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">

                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>

            </svg>

        </button>

        <div class="logo">

           <a href="index.html"> 
            <h2>Prince Legends</h2>
           </a>

        </div>

        <div class="nav-menu" id="nav-menu">

            <button class="btn close-btn" aria-label="close menu">
                 ×
            </button>

            <ul class="nav-links">

                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="cart.html">Cart
                    <span class="cart-count">0</span>
                </a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>

                <li>

                    <button class="btn theme-btn" aria-label="Toogle dark mode">
                    <i class="fa-solid fa-moon"></i>
                    </button>

                </li>
            </ul>
        </div>

        <div class="overlay"></div>
        
    </div>
</nav>